body{
    background-color: grey;
}
p{
    color: greenyellow;
}
h1{
    color: greenyellow;
}
.fullpage{
    background-color: black;
    width: 960px;
    height: auto;
    margin: 0 auto;
}
.logo{
    text-align: center;
}
.navbar{
    height: 50px;
    width: 956px;
    border: greenyellow solid 2px;
    background-color: black;
    margin: 0 auto;
}
.menu{
    list-style-type: none;
    margin: 0px 60px;
    padding: 0;
    overflow: hidden;
}
.menu>li{
    display: inline-block;
    border: none;
    background-color:black;
    color: white;
    width: 75px;
    height: 30px;
    grid-column: 1/6;
    grid-row: 2/3;
    text-align: center;
    padding: 10px 20px;
    margin: 0px 45px;
}
.menuitem{
    padding: 0px;
}
.menu>li:hover{
    background-color: grey;
    color: black;
    display: inline-block;
}
a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: greenyellow ;
}
a:hover{
    color: black;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    color: greenyellow ;
    border-top: yellowgreen solid 2px;
}
h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
}
p{
    font-family: 'Righteous', cursive;
}
.mainpage{
    width: 960px;
    height: auto;
    margin: 20px auto;
    display: inline-block;
}
.left{
    width: 420px;
    height: auto;
    float: left;
    margin: 25px;
}
.right{
    width: 420px;
    height: auto;
    float: right;
    margin: 25px;
}
#page2text1{
    width: 350px;
    height: auto;
    display: inline-block;
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: right;
    margin: 10px;
}
#page2text2{
    width: 350px;
    height: auto;
    display: inline-block;
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: right;
    margin: 10px;
}
#page2text3{
    width: 350px;
    height: auto;
    display: inline-block;
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: right;
    margin: 10px;
}
#textpage3left{
    background-color: grey;
    color: black;
    width: 400px;
    height: auto;
    display: inline-block;
    margin: 20px 0;
}

#textpage3right{
    background-color: grey;
    color: black;
    width: 400px;
    height: auto;
    float: right;
    display: inline-block;
    margin: 20px 0;
}

/* images */
#image1{
    width: 420px;
    height: 200px;
    float: left;
}
#image2{
    width: 420px;
    height: 200px;
    float: right;
}
.mainpagegrid{
    width: 960px;
    height: auto;
    margin: 20px auto;
    display: grid;
    grid-column-start: auto auto auto;
    grid-row-start: auto auto auto;
}
#image3{
    width: 300px;
    height: 600px;
    grid-row: 1/4;
    grid-column: 1/2;
}
#image4{
    width: 300px;
    height: 200px;
    grid-row: 1/2;
    grid-column: 3/4;
}
#image5{
    width: 300px;
    height: 200px;
    grid-row: 2/3;
    grid-column: 3/4;
}
#image6{
    width: 300px;
    height: 200px;
    grid-row: 3/4;
    grid-column: 3/4;
}
.imagespage3{
    width: 960px;
    height: 100px;
}